/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# The funktor dir isn't a real part of the gem, it's where things
# get generated as I'm testing the gem locally. It doesn't need to be in git.
/funktor/
