<html>
  <head>
    <style type="text/css">
      table, td{
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h3>Funktor</h3>
    <%= erb :stats %>
    <%= yield %>
  </body>
</html>
