<div class="grid">
  <div>
    Showing <%= jobs.count %> of <%= @activity_stats[stat_category] %>
  </div>
  <div>
    <input type="submit" name="submit" value="Delete Selected Jobs" />
  </div>
  <div>
    <input type="submit" name="submit" value="Queue Selected Jobs" />
  </div>
</div>
